<nav>
  <div class="navbar"> 


     <a class="nav-links" href="/">Home</a>

      <% if(urrentUser) { %>

  <a class="nav-links" href="/auth/sign-out">Sign Out</a>
     
  </div>
  <% } else { %>
  <a class="login-link" href="/auth/sign-in">Log in</a>
  <a class="signup-link" href="/auth/sign-up">Sign Up</a>
  <% } %>
</nav>
