<nav>
  <a href="/">Home</a>
  <div class="navbar"> 
    <div class="nav-links">

      <% if(user) { %>
  <a class="authlink" href="/users/<%=user._id%>/dreams">View my Dreams</a>

  <a class="authlink" href="/auth/sign-out">Sign Out</a>
     </div>
  </div>
  <% } else { %>
  <a class="login-link" href="/auth/sign-in">Log in</a>
  <a class="signup-link" href="/auth/sign-up">Sign Up</a>
  <% } %>
</nav>
