<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Home Page</title>
</head>
<body class="index-body">
<%- include('./partials/_navbar.ejs') %>

 <div class="index-container">
    <div class="text-container">
     <h1 id="index-header">My Dreams</h1>
</div>

<div class="auth-links">
      <a class="btn-auth" href="/auth/sign-up">Sign Up</a>
      <a class="btn-auth" href="/auth/sign-in">Log in</a>
    </div>
  </div>
<!-- <% if (user) { %>
  


<% } %> -->
</body>
</html>

