
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Home Page</title>
</head>

<body class="index-body">

 <div class="index-container">

 <div class="logo-loader">
    <div class="arc arc1"></div>
    <div class="arc arc2"></div>
    <div class="arc arc3"></div>

     <!-- Neon stars -->
  <div class="star star1"></div>
  <div class="star star2"></div>
  <div class="star star3"></div>
</div>
    </div>

       <h1>My Dreams</h1>
    
          <% if(user) { %>
      <a class="btn" href="/users/<%=user._id%>/categories">View my Dreams</a>
      <a class="btn" href="/auth/sign-out">Sign Out</a>

          <% } else { %>
      <a class="btn" href="/auth/sign-in">Log in</a>
      <a class="btn" href="/auth/sign-up">Sign Up</a>
          <% } %>

</div>


</body>
</html>

