<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add New Dream</title>
</head>
<body class="new-dream-container">
    
  <%- include('../partials/_navbar.ejs') %>

    <h1>Add New Dream</h1>


<form action="/users/<%= currentUser._id %>/dreams" method="POST">
  
  <label for="dream">Dream:</label>
  <input type="text" name="dream" id="dream" required />

  <label for="description">Description:</label>
  <input type="text" name="description" id="description"/>

<label for="categoryId">Category:</label>
<select id="categoryId" name="categoryId" required>
  <% currentUser.category.forEach((cat) => { %>
    <option value="<%= cat._id %>"><%= cat.name %></option>
  <% }) %>
</select>

  <label for="status">Status:</label>
  <select id="status" name="status" required>
    <option value="Working_On">Working On</option>
    <option value="Done">Done</option>
  </select>

  <button id="add-dream-btn" type="submit">Add Dream</button>
</form>


</body>
</html>